

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore|Lato:400,300);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);




body {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 16px;
    background-color: transparent;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 100px;
}

h2, h3, h5, h6 {
    color: #4a4a4a;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-left: 100px;
	margin-top: 100px;
}



form {
	 width: 300px;
	  height: 100px;
	  padding: 20px;

	  position: absolute;
	  top: 50%;
	  left: 50%;

	  margin: -70px 0 0 -170px;
  	
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	/*background: url(../img/back.jpg) no-repeat center top;*/
		background-color: transparent;
}

#headerwrap h1 {
	
	padding-top: 100px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-family: 'Lato';
    font-weight: 300;
    margin-left: 100px;
    margin-top: 100px;
}

#headerwrap h4 {
	font-family: 'Reenie Beanie', cursive;
	margin-left: 500px;
	font-size: 50px;
}


.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    /*color: #0099cc;*/
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    /*color: #33a6cc;*/
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/


.btn #visualize
