html {
	background:transparent; 
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;

}

body {
	background:transparent;
	min-height:100%; 	
	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	font-family: 'Lato', 300;
	color:#262626;
	color:#5F606B; 
	font-weight: normal;
	margin: 0;
    padding: 0;
    
}

h1 {
	text-align : center;
	font-color: #DBDBDB;
}

h2 {
	margin-bottom: 20px;
}

/********************************************************/
/*                    Navigation bar                    */
/********************************************************/
.mainmenu { z-index: 999999; width:100%;  padding: 30px 0 0 0;}
@media (min-width: 768px) {
	.mainmenu { position: fixed; }
}

.navbar-toggle {
	position:relative;
	float:left;
	display:block;
	padding: 9px 10px;
	background: rgba(255, 255, 255, 0.2);
	background-image: none;
	border: 0 none;
	top:0px; 
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	outline: 0;
	opacity: 1;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
	        float: left;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background: #3B3D40;
}
.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}
.open .navbar-toggle { 
	top:-70px; 
	opacity: 0;  
}
.mainmenu .dropdown-menu {
	top: -14em;
	left: 0px;
	font-size: 13px;
	padding:0;
	background:none;
	border:0 none;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	display:block;
	opacity:0;
	-webkit-transition: all .45s;
	   -moz-transition: all .45s;
	        transition: all .45s;
}
.mainmenu .dropdown-menu .active { 
	font-weight:bold;
}
.mainmenu .open .dropdown-menu { 
	top:2px;
	opacity:1;
}
.mainmenu .dropdown-menu a { 
	padding:10px 10px;
	margin:0;
	color:#3B3D40;
	text-decoration: none;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.mainmenu .dropdown-menu a:hover { 
	background:#c5b0d5;
	color:#3B3D40;
	padding:10px 8px 10px 12px;
}



/********************************************************/
/*             Sections - universal classes             */
/********************************************************/
.section { 
	z-index: 50;
	min-height:420px;
	width: 100%; 
	overflow:auto;
	height:30%;
	padding-top:100px;
	padding-bottom:50px; 
	display:none;
	top:0;
} 
@media (min-width: 768px) {
	.section { padding-top:160px;}
}

/* Show one of sections */
#head { 
	display: block;
}


/********************************************************/
/*                      Typography                      */
/********************************************************/
a { color:#5F606B; text-decoration: none; }
a:hover, a:active { color:#fff; text-decoration: underline; }
.lead { 
	font-weight:normal;
	font-size:1.5em;
	line-height:1.2em;
}

.title,
.subtitle { 
	font-family: 'Lato', 300;
	font-weight:normal;
	font-size:4em;
	margin-bottom:15px; 
	margin-top: 50px;
	color:#5F606B; 
	line-height:1em;
}
.subtitle { 
	line-height:.9em;
	font-size:2em;
	margin-top:0;
	margin-bottom:40px; 
}
.tagline { 
	font-size:1.4em;
	line-height:1.3em;
	font-weight:normal;
	margin-bottom:40px;
	font-family: 'Lato', 300;
}

@media (max-width: 767px) {
	.lead { 
		font-size:1.3em;
	}
}



/***********************************************************/
/*                   Theme: text shadows                   */
/***********************************************************/
.text-shadows { 	
	text-shadow:0 1px 2px rgba(0,0,0,.2);
}
.text-shadows .title,
.text-shadows .subtitle,
.text-shadows .tagline { 
	text-shadow:0 2px 3px rgba(0,0,0,.4);
}
.text-shadows .mainmenu .dropdown-menu a { 
	text-shadow:0 2px 1px rgba(0,0,0,.2);
}
.text-shadows .mainmenu .dropdown-menu a:hover { 
	text-shadow:none;
}


/***********************************************************/
/*                   Forms                 				   */
/***********************************************************/

form {

	text-align: center;
	
}

#form-header {
	margin: 0 auto;
	width: 300px;
	font-color: #3B3D40;
	font-family: 'Lato', 300;
	position: absolute;
	top: 25%;
	right: 0;
	left: 0;
}

#register, #login {
	position: absolute;
	top: 40%;
	right: 0;
	left: 0;
}

/***********************************************************/
/*                   Visualization                 		   */
/***********************************************************/

#tooltip {
  font-size: 14px;
  line-height: 1.5em;
  position:absolute;
  padding:5px;
  z-index:100000;
  font-family: 'Reenie+Beanie';

  div {
    color:#000;
    padding:5px 8px 4px 8px;
    text-align:left;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    z-index:1;

    span {
      font-weight:bold;
    }
  }
}

html, body{
  min-height:100%;
}

#legend ul.clusters {
  list-style: none;
  padding: 5px; }
  #legend ul.clusters li {
    padding: 0.4em 0.8em;
    color: #fff;
    font-weight: bold; }


.buttonHolder{
  margin:80px auto;
  width:80px;
}


		.button{
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 100%;
			border: 0;
			box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
			float:center;
			height: 75px;
			margin: 0 30px 30px 0;
			position: relative;
			width: 75px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;

		}

		.button:focus {
			outline: 0;
		}

		.button:after{
			color:#e9e6e4;
			content: "";
			display: block;
			font-size: 25px;
			height: 100px;
			text-decoration: none;
			text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
			position: absolute;
			width: 100px;
			
		}
			
		.login {
			height: 75px;
			width: 75px;
		}


		.login:after {
			content: "login";
			left:-12px;
			bottom:-52px;
			font-size: 20px;
			

		}

		.register {
			height: 125px;
			width: 125px;
		}

		.register:after {
			content: "register";
			left:12px;
			top:50px;
			font-size: 20px;
			
		}


		.next-question{
			content: "↻";
			font-size: 30px;
			border: none;
    		outline:none;
    		color:gray;
    		background: none;
    		display: inline;

			
		}

		.next-question:after{
			content: "↻";
			font-size: 30px;
			border: none;
    		outline:none;
    		color:gray;
    		background: none;
    		display: inline;
			
		}

		.next-question:hover:after{
			color:#7C4BB8;
			text-shadow:0px 0px 6px #7C4BB8;
		}


		.visualize:after{
			border-radius: none;


		}

		.visualize:hover:after{
			color:#1F77B4;
			text-shadow:0px 0px 6px #1F77B4;
			border-radius: none;

		}

		
		.record {
			height: 125px;
			width: 125px;
		}

		.record:after{
			content: "record";
			left:12px;
			top:55px;
			
		}

		.record:hover:after{
			color:#FF9896;
			text-shadow:0px 0px 6px #FF9896;
		}

		
		.submit {
			height: 125px;
			width: 125px;
		}

		.submit:after{
			content: "✔️";
			left: 15px;
			top: 55px;
		}

		

		.submit:hover:after{
			color:#DBDB8D;
			text-shadow:0px 0px 6px #DBDB8D;
		}

		.music:after {
			content: "♫";
			font-size: 40px;
			top:28px;
			left:-17px;
		}
		
		.music:hover:after{
			color:#C5B0D5;
			text-shadow:0px 0px 6px #C5B0D5;
		}

	/*	.pause.active {
			content: "✕";
		}*/
		
		
		.button:hover{
			background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
			background-image: linear-gradient(top, #fff, #f4f1ee);
			color:#0088cc;
		}

		.button:active{
			background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
			background-image: linear-gradient(top, #efedec, #f7f4f4);
			box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
		}

		.button:active:after{
			color:#dbd2d2;
			text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
		}

.twitter-share-button {
	float: right;
}

/*.container {
	background-image: svg;

}*/
		

