<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mirror</title>

    <!-- Bootstrap -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css"
          rel="stylesheet"> -->

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

	<link href="static/css/style.css" rel="stylesheet">
	<link href="static/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
   <nav>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->   
  	<div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
     
            <ul class="nav navbar-nav navbar-right">
              {% if "user_id" in session %}
                  <li><a href="/users/{{ session['user_id'] }}">Answer questions</a></li>
                  <li><a href="/logout">Logout</a></li>
                  <li><a class="navbar-brand" href="/">Home</a></li>
              {% else %}
                  <li><a href="/register">Register</a></li>
                  <li><a href="/login">Login</a></li>
              {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- <div id="extending">
    {% for flash in get_flashed_messages() %}
      <div class="alert alert-danger" style="width:90%; margin:0 auto;">{{ flash }}</div>
    {% endfor %} -->
{% block content %}
{% endblock %}
</div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>