<!DOCTYPE html>

<html>
<head>
  <style type='text/css'>
    ul { list-style: none; }
    #recordingslist audio { display: block; margin-bottom: 10px; }
  </style>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <style type="text/css">



#jsalarmclock div{
margin-bottom: 0.8em;
}

#jsalarmclock div.leftcolumn{
float: left;
width: 150px;
font-size: 13px;
background-color: lightyellow;
clear: left;
}

#jsalarmclock span{
margin-right: 5px;
}

</style>

<script type="text/javascript">

var jsalarm={
  padfield:function(f){
    return (f<10)? "0"+f : f
  },


  showcurrenttime:function(){
    var dateobj=new Date()
    var ct=this.padfield(dateobj.getHours())+":"+this.padfield(dateobj.getMinutes())+":"+this.padfield(dateobj.getSeconds())
    this.ctref.innerHTML=ct
    this.ctref.setAttribute("title", ct)
    if (typeof this.hourwake!="undefined"){ //if alarm is set
      if (this.ctref.title==(this.hourwake+":"+this.minutewake+":"+this.secondwake)){
        clearInterval(jsalarm.timer)
        window.location=document.getElementById("musicloc").value
      }
    }
  },


  init:function(){
    var dateobj=new Date()
    this.ctref=document.getElementById("jsalarm_ct")
    this.submitref=document.getElementById("submitbutton")
    this.submitref.onclick=function(){
      jsalarm.setalarm()
      this.value="Alarm Set"
      this.disabled=true
      return false
    }


    this.resetref=document.getElementById("resetbutton")
    this.resetref.onclick=function(){
    jsalarm.submitref.disabled=false
    jsalarm.hourwake=undefined
    jsalarm.hourselect.disabled=false
    jsalarm.minuteselect.disabled=false
    jsalarm.secondselect.disabled=false
    return false
    }


    var selections=document.getElementsByTagName("select")
    this.hourselect=selections[0]
    this.minuteselect=selections[1]
    this.secondselect=selections[2]
    for (var i=0; i<60; i++){
      if (i<24) //If still within range of hours field: 0-23
      this.hourselect[i]=new Option(this.padfield(i), this.padfield(i), false, dateobj.getHours()==i)
      this.minuteselect[i]=new Option(this.padfield(i), this.padfield(i), false, dateobj.getMinutes()==i)
      this.secondselect[i]=new Option(this.padfield(i), this.padfield(i), false, dateobj.getSeconds()==i)

    }
    jsalarm.showcurrenttime()
    jsalarm.timer=setInterval(function(){jsalarm.showcurrenttime()}, 1000)
  },
  setalarm:function(){
    this.hourwake=this.hourselect.options[this.hourselect.selectedIndex].value
    this.minutewake=this.minuteselect.options[this.minuteselect.selectedIndex].value
    this.secondwake=this.secondselect.options[this.secondselect.selectedIndex].value
    this.hourselect.disabled=true
    this.minuteselect.disabled=true
    this.secondselect.disabled=true
  }
}

</script>
</head>
<body>

  <h2>{{ user.first_name }}</h2>

  <p>Why wake up to the same beeping every day?</p>
  <p>Record a message for your friends to wake up to</p>
 

<form action="" method="">
<div id="jsalarmclock">
<div><div class="leftcolumn">Current Time:</div> <span id="jsalarm_ct" style="letter-spacing: 2px"></span></div>
<div><div class="leftcolumn">Set Alarm:</div> <span><select></select> Hour</span> <span><select></select> Minutes</span> <span><select></select> Seconds</span></div>
<div><div class="leftcolumn">Set Alarm Action:</div> <input type="text" id="musicloc" size="55" value="http://www.youtube.com/watch?v=v1zY_tV5kaQ" /> <span style="font: normal 11px Tahoma">*Location of page to launch</span></div>
<input type="submit" value="Set Alarm!" id="submitbutton" /> <input type="reset" value="reset" id="resetbutton" />
</div>
</form>


<script type="text/javascript">

jsalarm.init()

</script>

<br><br>
  <button onclick="startRecording(this);">record</button>
  <button onclick="stopRecording(this);" disabled>stop</button>
  
  
  <ul id="recordingslist"></ul>

  
  <!-- <h2>Log</h2>
  <pre id="log"></pre> -->

  <script>
  // function __log(e, data) {
    // log.innerHTML += "\n" + e + " " + (data || '');
  // }

  var audio_context;
  var recorder;

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    // __log('Media stream created.');

    // Uncomment if you want the audio to feedback directly
    //input.connect(audio_context.destination);
    //__log('Input connected to audio context destination.');
     // Also before you enable microphone input either plug in headphones or turn the volume down if you want to avoid ear splitting feedback
    
    recorder = new Recorder(input);
    // __log('Recorder initialised.');
  }

  function startRecording(button) {
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    // __log('Recording...');
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    button.previousElementSibling.disabled = false;
    // __log('Stopped recording.');
    
    // create WAV download link using audio data blob
    sendBlobToServer();
    
    recorder.clear();
  }

  // function createDownloadLink() {
  //   recorder && recorder.exportWAV(function(blob) {

  //     //   audio_file = BinaryFileReader.read(blob);
  //     //   console.log("Audio uploaded");
  //     // }
  //     var url = URL.createObjectURL(blob);
  //     console.log(url);
  //     var li = document.createElement('li');
  //     var au = document.createElement('audio');
  //     var hf = document.createElement('a');
      
  //     au.controls = true;
  //     au.src = url;
  //     hf.href = url;
  //     hf.download = new Date().toISOString() + '.wav';
  //     hf.innerHTML = hf.download;
  //     li.appendChild(au);
  //     li.appendChild(hf);
  //     recordingslist.appendChild(li);
  //   });
  // }
    function sendBlobToServer() {
      recorder && recorder.exportWAV(function (blob) {
        console.log(blob);
        var formData = new FormData();

        formData.append('file', blob, 'test.wav');

        //  function(data){
        //   console.log("hey!");
        // });

        $.ajax({
        url :  "/test2",
        type: 'POST',
        data:  formData,
        contentType: false,
        processData: false,
        success: function(data) {
          console.log("success!");
        },    
        error: function() {
          console.log("failure!");
        }
      });

    })

    }


  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
      // __log('Audio context set up.');
      // __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
      // __log('No live audio input: ' + e);
    });
  };
  </script>

  <script src="/static/js/lib/recorder.js"></script>
</body>
</html>




