{% extends 'base.html' %}
{% block content %}


    <h1 id="form-header" style="text-align:center; vertical-align:middle">Register</h1>
    <form id="register" action="/register" method="POST">
        <div align="center" class="form-group">
            <label>Email
                <input type="email" name="email" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>Password
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <label>First name
                <input type="text" name="first_name" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Register!">
        </div>

    </form>
    </div> 

{% endblock %}