<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Chime</title>
  <style type='text/css'>
  /*#jsalarmclock span{
  margin-right: 5px;
  }*/
</style>


</head>
<body>


  <form id="set_timer" action="set_timer_process" method="POST">
    <label>Hours
      <input id="hours" type="number" name="hours" min="0" max="23" value="0"></label>
      <label>Minutes
      <input id="minutes" type="number" name="minutes" min="0" max="59" value="0"></label>
    <!-- <input id="submit_button" type="submit" value="Set timer!"> -->

  </form>

  <button id="finalize_timer">Set Time</button>


  <p>{{ total_milliseconds }}</p>



<!--   <form action="/set_alarm>" method="POST">
    <div id="jsalarmclock">
    <div><div class="leftcolumn">Set Alarm:</div> <span><select></select> Hour</span> <span><select></select> Minutes</span> <span><select></select> Seconds</span></div>


    <input type="submit" value="Set Alarm!" id="submitbutton" /> <input type="reset" value="reset" id="resetbutton" />
    </div>
  </form> -->




<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

<script>

function goToRecording() {
  window.open("/recording_play");
  }

$("#finalize_timer").on("click", function() {

  var hours = $("#hours").val();
  var minutes = $("#minutes").val();

  var milli_hours = hours * 3600000;
  var milli_minutes = minutes * 60000;

  var total_milliseconds = milli_hours + milli_minutes;

  setTimeout(goToRecording, total_milliseconds);
  })


// http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref_win_settimeout_clock  (clock script for current time)

// console.log(hours);
//   console.log(minutes);
//   console.log(milli_hours);
//   console.log(milli_minutes);
//   console.log(total_milliseconds);
//   console.log("I was clicked");

// function setTimerToPlayRecording(evt) {

//   evt.preventDefault();
//   var formInputs = { type: $("#hours").val(), amount: $("#amount").val() };

//   $.post("/new-order", formInputs, function (result) {
//       alert(result);
//     }
//   );
// }

// $("#order-form").on("submit", submitOrder);



  // $("#set_timer").submit(function sendFormInput() {

  //   var url = "/set_timer_process"; // the script where you handle the form input.

  //   $.ajax({
  //          type: "POST",
  //          url: url,
  //          data: $("#set_timer").serialize(), // serializes the form's elements.
  //          success: function(data)
  //          {
  //              alert(data); // show response from the php script.
  //          }
           
  //        });


  // })

    // return false; // avoid to execute the actual submit of the form.
  
  // //get form inputs
  // var form_inputs = $('#set_timer').serialize();
  

// });

//   $.ajax({
//   url :  "/set_timer",
//   type: 'POST',
//   data:  values,
//   success: function(data) {
//     console.log("success!");
//   },  
//   }
// });

// }



// $("#submit_button").on("submit", setTimerToPlayRecording);
// $(document).ready(function() {

  // Things to do: 
  // - create set alarm button and call it id "submit_alarm"

  // For alarm
  // get current time (d.getHours() * 60) + d.getMinutes()
    // subtract current time from time they want alarm to go off
    // from timedelta object, get number of hours and minutes
    // 


    // For timer:
    // convert to milliseconds
    // setTimeout with that number of milliseconds (setTimeout calls route - it takes two arguments: the thing that you want to happen and the time you want to wait until it happens)



//     var jsalarm={
//       padfield:function(f){
//       return (f<10)? "0"+f : f
//     },


//     showcurrenttime:function(){
//       var dateobj=new Date()
//       var ct=this.padfield(dateobj.getHours())+":"+this.padfield(dateobj.getMinutes())+":"+this.padfield(dateobj.getSeconds())
//       this.ctref.innerHTML=ct
//       this.ctref.setAttribute("title", ct)
//       if (typeof this.hourwake!="undefined"){ //if alarm is set
//         if (this.ctref.title==(this.hourwake+":"+this.minutewake+":"+this.secondwake)){ //if current time == set time
//           console.log("hello")
//           clearInterval(jsalarm.timer) //stop the countdown timer
//           window.location="/recording_play" //navigate to new page (not new window though)
//         }
//       }
//     },


//     init:function(){
//       var dateobj=new Date()
//       this.ctref=document.getElementById("jsalarm_ct")
//       this.submitref=document.getElementById("submitbutton")
//       this.submitref.onclick=function(){
//         jsalarm.setalarm()
//         this.value="Alarm Set"
//         this.disabled=true
//         return false
//       }


//       this.resetref=document.getElementById("resetbutton")
//       this.resetref.onclick=function(){
//       jsalarm.submitref.disabled=false
//       jsalarm.hourwake=undefined
//       jsalarm.hourselect.disabled=false
//       jsalarm.minuteselect.disabled=false
//       jsalarm.secondselect.disabled=false
//       return false
//       }


//       var selections=document.getElementsByTagName("select")
//       this.hourselect=selections[0]
//       this.minuteselect=selections[1]
//       this.secondselect=selections[2]
//       for (var i=0; i<60; i++){
//         if (i<24) //If still within range of hours field: 0-23
//         this.hourselect[i]=new Option(this.padfield(i), this.padfield(i), false, dateobj.getHours()==i)
//         this.minuteselect[i]=new Option(this.padfield(i), this.padfield(i), false, dateobj.getMinutes()==i)
//         this.secondselect[i]=new Option(this.padfield(i), this.padfield(i), false, dateobj.getSeconds()==i)

//       }
//       jsalarm.showcurrenttime()
//       jsalarm.timer=setInterval(function(){jsalarm.showcurrenttime()}, 1000)
//     },
//     setalarm:function(){
//       this.hourwake=this.hourselect.options[this.hourselect.selectedIndex].value
//       this.minutewake=this.minuteselect.options[this.minuteselect.selectedIndex].value
//       this.secondwake=this.secondselect.options[this.secondselect.selectedIndex].value
//       this.hourselect.disabled=true
//       this.minuteselect.disabled=true
//       this.secondselect.disabled=true
//     }
//   }

// jsalarm.init();

// });

</script>
</body>
</html>




