{% extends 'base.html' %}
{% block content %}


<section class="section" id="head">
  <div class="container">
   <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 
        <h1>Hi, {{ user.first_name }}!</h1> 
        <h3 class="tagline">
          Answer fun questions about yourself!<br>
          When you've answered a few, click the 🌈 to see them come to life.
        </h3>
        <span><h2 id="question_text" data-questionid="{{ question_id }}">{{ question_text }}</h2>
        <button id="next_question" class="next-question"></button></span>
        <br><br>
      </div>
  
    <div class="row">
      <div class="text-center">
        <button id="record_button" onclick="startRecording(this);" class="button record"></button>
        <button id="submit_answer" disabled class="button submit"></button>
      </div>
    </div>
  
    <div class="row">
      <div class="text-center">
        <form id="visualization-button-form" action="/visualize" method="GET">
          <!--  <input type="hidden" name="user_id" value="{{ user.user_id}}"> -->
          <input type="submit" class="button visualize rainbow" value=""></input>
        </form>
      </div>
    </div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/static/js/lib/recorder.js"></script>
<script>

 $("#submit_answer").click(function() {
    stopRecording(this);

  });

  $("#next_question").click(function() {
    getNextQuestion();
  });


  var audio_context;
  var recorder;

  function startUserMedia(stream) {
    var input = audio_context.createMediaStreamSource(stream);
    
    recorder = new Recorder(input);
    
  }

  function getNextQuestion() {
    $.get("/next_question", function(data) {
      $("#question_text").html(data.question_text);
      $("#question_text").data("questionid", data.question_id);
    });
  }

  function startRecording(button) {
    recorder && recorder.record();
    button.disabled = true;
    button.nextElementSibling.disabled = false;
    $("#next_question").attr("disabled", true);
  }

  function stopRecording(button) {
    recorder && recorder.stop();
    button.disabled = true;
    console.log($("#next_question"));
    
    // __log('Stopped recording.');
    
    // create WAV download link using audio data blob
    sendBlobToServer();
    // sendQuestionTextToServer();
    console.log(recorder);
    recorder.clear();

  }


  function sendBlobToServer() {
      recorder && recorder.exportWAV(function (blob) {
        console.log(blob);
        var formData = new FormData();
        var questionId = $("#question_text").data("questionid");
        getNextQuestion();
        formData.append('file', blob, 'test.wav');
        formData.append('question_id', questionId);

        $.ajax({
        url :  "/save_recording",
        type: 'POST',
        data:  formData,
        contentType: false,
        processData: false,
        success: function(data) {
          console.log("success!");
          $("#next_question").attr("disabled", false);
          $("#record_button").attr("disabled", false);
        },    
        error: function() {
          console.log("failure!");
          $("#record_button").attr("disabled", false);
          $("#next_question").attr("disabled", false);
        }
      });

    });

    }

  window.onload = function init() {
    try {
      // webkit shim
      window.AudioContext = window.AudioContext || window.webkitAudioContext;
      navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia;
      window.URL = window.URL || window.webkitURL;
      
      audio_context = new AudioContext;
      console.log(audio_context);
      // __log('Audio context set up.');
      // __log('navigator.getUserMedia ' + (navigator.getUserMedia ? 'available.' : 'not present!'));
    } catch (e) {
      alert('No web audio support in this browser!');
    }
    
    navigator.getUserMedia({audio: true}, startUserMedia, function(e) {
      // __log('No live audio input: ' + e);
      console.log("getUserMedia failed");
      console.log(e);
    });
  };

  </script>

  <script src="/static/js/lib/recorder.js"></script>
  {% endblock %}
