<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>Chime</title>

</head>
<body>

  <h2>{{ user.first_name }}</h2>

  <p>Why wake up to the same beeping every day?</p>
  <p>Record a message for your friends to wake up to</p>

  
  <button id="set_alarm" type="submit">Set an Alarm</button>
  <button id ="record_message" type="submit">Record A Message</button>


  <script src="http://code.jquery.com/jquery.js"></script>

  <script type="text/javascript">



  document.getElementById("set_alarm").onclick = function () {
        location.href = "/set_alarm";
    };


  document.getElementById("record_message").onclick = function () {
        location.href = "/record_message";
    };

  //   function setAlarm() {
  //        window.location.assign("/users/<int:user_id>/set_alarm"); 
  //   }

      // var recordMessage = $("#record_message");

      // $("#submit).on('click', );

  </script>

</body>
</html>
 






