{% extends 'base.html' %}
{% block content %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <div class="row">
      <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center"> 
      <h1>{{ user.first_name }}'s <small>audio journal</small></h1>
    
      <svg></svg>
      </div>
  

      <div class="text-center">
      <div id="legend">

        </div>
      </div>
    </div>

    <!-- <audio>
      <source id="music"  src="http://datashat.net/music_for_programming_33-uuav.mp3" type="audio/mpeg">
    </audio> -->
    <button id="controller" class="button pause"></button>

<!-- 
    <a class="twitter-share-button"
    href="https://twitter.com/intent/tweet?text=Check%20out%20my%20Showtell!">
Tweet</a>
</div> -->




<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>
var audioplayer = new Audio("http://datashat.net/music_for_programming_33-uuav.mp3");
$('#controller').on("click", function () {
  if (audioplayer.paused) {
       audioplayer.play();
  }   
  else {
     audioplayer.pause();
  }
  $(this).toggleClass('pause'); 

});

function drawLegend(clusters, color) {
  var ul = d3.select("#legend").append('ul').classed('clusters', 1).attr('class', "list-inline");
  var categoryData = d3.set();
  d3.values(clusters).forEach(function (clusterValue) {
    categoryData.add(clusterValue.category_name);
  });
  ul.selectAll('li').data(categoryData.values())
    .enter()
      .append('li')
        // .style('background-color', function(d) { return color(d); })
        .text(String)
        .style('color',function(d) { return color(d); });
}

(function() {
  var $body, $tip, $tipInner, touch = false;

  var updatePos = function(e) {
    if(e.originalEvent.changedTouches) {
      e = e.originalEvent.changedTouches[0];
    }
    $tip.css({
      'top': e.pageY + 0,
      'left': e.pageX + 10
    });
  };
  var hide = function() {
    $(document)
      .off('touchmove', updatePos);
    $tip.hide();
  };

  $body = $('body');
  $tip = $('#tooltip');
  if(!$tip.length) {
    $tip = $('<div id="tooltip"></div>').html('<div></div>').hide().appendTo($body);
  }
  $tipInner = $tip.find('div');

  $(document).on(touch ? 'touchstart' : 'mouseover', 'svg circle', function(e){
    var d = this.__data__;

    $tipInner.html(

            '<pre>' + d.question_text + '</pre>'
    );

    updatePos(e);
    $(document)
        .on(touch ? 'touchmove' : 'mousemove', updatePos)
        .one(touch? 'touchend' : 'mouseout', hide);
    $tip.show();
  });
// })();

$(document).on("click", 'svg circle', function(f){
    var d = this.__data__;
    var audio = new Audio(d.file_path);
    audio.play();

  });
})();




function drawClusterForceLayout(data) {
  var width = 1000,
      height = 500,
      padding = 6, // separation between same-color nodes
      clusterPadding = 18; // separation between different-color nodes

  var color = d3.scale.category20();

  

  // The largest node for each cluster.
  var clusters = {};

  // custom data
  var nodes = data.map(function(d) {
    var cluster = d.cluster = d.question_text; //legend text
    var total = d.file_size/9000; //size of node
    d.radius = Math.sqrt(total / Math.PI) * 10;
    if (!clusters[cluster] || (d.radius > clusters[cluster].radius)) { clusters[cluster] = d; }
    return d;
  });

  // Use the pack layout to initialize node positions.
  d3.layout.pack()
      .sort(null)
      .size([width, height])
      .children(function(d) { return d.values; })
      .value(function(d) { return d.radius * d.radius; })
      .nodes({values: d3.nest()
        .key(function(d) { return d.cluster; })
        .entries(nodes)});


  function tick(e) {
    node
        .each(cluster(10 * e.alpha * e.alpha))
        .each(collide(0.5))
        .attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });
  }

  var force = d3.layout.force()
      .nodes(nodes)
      .size([width, height])
      .gravity(0.02)
      .charge(0)
      .on("tick", tick)
      .start();

  var svg = d3.select("body").select("svg")
      .attr("width", width)
      .attr("height", height);
      

  var node = svg.selectAll("circle")
      .data(nodes)
    .enter().append("circle")
      .style("fill", function(d) { return color(d.category_name);})
      .call(force.drag);

    //   if d.question_text === "RELATIONSHIPS": //need to query for category name when creating cs
    //   return "red"
    // if d.question_text === "CULTURE":
    //   return "blue"
    // if d.question_text === "IDENTITY":
    //   return "green"
    // if d.question_text === "ASPIRATION":
    //   return "yellow"
    // if d.question_text === "FUN":
    //   return "orange"

     

  node.transition()
      .duration(750)
      .delay(function(d, i) { return i * 5; })
      .attrTween("r", function(d) {
        var i = d3.interpolate(0, d.radius);
        return function(t) { return d.radius = i(t); };
      });

  // Move d to be adjacent to the cluster node.
  function cluster(alpha) {
    return function(d) {
      var cluster = clusters[d.cluster];
      if (cluster === d) { return; }
      var x = d.x - cluster.x,
          y = d.y - cluster.y,
          l = Math.sqrt(x * x + y * y),
          r = d.radius + cluster.radius;
      if (l !== r) {
        l = (l - r) / l * alpha;
        d.x -= x *= l;
        d.y -= y *= l;
        cluster.x += x;
        cluster.y += y;
      }
    };
  }

  // Resolves collisions between d and all other circles.
  function collide(alpha) {
    var quadtree = d3.geom.quadtree(nodes);
    return function(d) {
      var r = d.radius + Math.max(padding, clusterPadding),
          nx1 = d.x - r,
          nx2 = d.x + r,
          ny1 = d.y - r,
          ny2 = d.y + r;
      quadtree.visit(function(quad, x1, y1, x2, y2) {
        if (quad.point && (quad.point !== d)) {
          var x = d.x - quad.point.x,
              y = d.y - quad.point.y,
              l = Math.sqrt(x * x + y * y),
              r = d.radius + quad.point.radius + (d.cluster === quad.point.cluster ? padding : clusterPadding);
          if (l < r) {
            l = (l - r) / l * alpha;
            d.x -= x *= l;
            d.y -= y *= l;
            quad.point.x += x;
            quad.point.y += y;
          }
        }
        return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
      });
    };
  }
  drawLegend(clusters, color);
}

d3.csv('visualization_process.csv').get(function(error, data) {
  window.drawClusterForceLayout(data);
});
</script>

{% endblock %}
